body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

#featured-property img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#featured-property figcaption{
  
}
nav a {
  text-align: center;
  padding: 10px;
  background-color: grey;
}


